<footer class="page-footer red" style="padding-bottom: 20px">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <span class="white-text">{{ contactInformation.organization }} / {{ contactInformation.phone }}</span>
            </div>
        </div>
    </div>
</footer>