<nav class="light-red lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('page_one') }}">Page one</a></li>
            <li><a href="{{ path('page_two') }}">Page two</a></li>
            <li><a href="{{ path('contact') }}">Nous contacter</a></li>
        </ul>
    </div>
</nav>