{% extends 'base.html.twig' %}
{% block content %}
    <div class="section" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">
                Bienvenue à la formation Symfony
            </h1>
            <div class="row">
                {{ dump(contactInformation) }}
            </div>
            <div class="row center">
                <a href="{{ path('_profiler_open_file', { file: 'src/Controller/HomepageController.php'}) }}" class="btn-large orange" target="_blank">
                    Voir <em>HomepageController</em>
                </a>
                <a href="{{ path('_profiler_open_file', { file: 'templates/homepage.html.twig'}) }}" class="btn-large orange" target="_blank">
                    Voir <em>homepage.html.twig</em>
                </a>
            </div>
            <div class="row">
                <div class="col s12 teal lighten-2 z-depth-3">
                    <ul>
                        <li>
                            Créer les contrôleurs pour page one & two
                            <blockquote>
                                bin/console make:controller
                            </blockquote>
                        </li>
                        <li>Déplacer le footer dans un partial Twig</li>
                        <li>Rendre la variable <span class="black white-text" style="padding: 0 5px">contactInformation</span> globale dans Twig</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}